@model IEnumerable<SondageSoiree.Models.Entity.Restaurant>

<p>
    @if(User.IsInRole("Admin"))
    {
        @Html.ActionLink("Crée un restaurant", "CreerRestaurant")
    }
    
</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "ModifierRestaurant", new { id = item.Id }) |
                    @Html.ActionLink("Details", "AfficherRestaurant", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
